body {
    margin: 0px;
    font-family: Arial, sans-serif; 
}

.nav-item .nav-link {
    min-width:10vh;
    border: 2px solid #30673a;
    background-color: #40B150;
    border-radius: 30px; 
    margin-right: 3vh; 
}
.nav-item .nav-link:hover {
    background-color: #2c9d41;
   
    transform: scale(1.1);
    transition: 0.2s;
}





