
body {
    margin: 0;
    font-family: Arial, sans-serif; 
    padding:0;
}

.navbar {
    border-bottom: 2px solid #367842;
}
.nav-item .nav-link {
    font-size:1.5em;
    border: 2px solid #32673c;
    background-color: #40B150;
    border-radius: 30px; 
    margin-right: 3vh; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #32673c;
}
.nav-item .nav-link:hover {
    background-color: #2c9d41;
    transform: scale(1.1);
    transition: 0.2s;
}
.nav-item .nav-link {
    min-height: 0;
}
